.text-image-container {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 24px;
  padding: 24px;
  border: 1px solid #ccc;

  @media (max-width: 768px) {
    flex-direction: column; /* Cambiar a columna en pantallas más pequeñas */
    align-items: stretch; /* Alinear elementos al inicio en pantallas más pequeñas */
  }

  .text-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto; /* Agregar scroll vertical cuando el contenido es demasiado largo */
    max-height: 400px; /* Establecer una altura máxima para el contenido */
  }

  .image {
    max-width: 100%;
    height: auto;
    max-height: 400px; /* Ajusta la altura máxima según tus necesidades */
  }
}
