.custom-form {
  padding: 16px;
  border: 2px solid black;

  .ant-row {
    display: flex;
    flex-direction: column;
  }

  label {
    font-weight: bold;
  }

  input,
  select,
  textarea {
    padding: 8px;
    border: 1px solid #ccc;
  }

  textarea {
    height: 100px;
  }
}
